<html lang="en">
<%- include("./partials/head.ejs") %>

<body>
  <%- include("./partials/nav.ejs") %>

  <div class="about content">
    <h2>About Me</h2>
    <p>Hi i am Harish, a junior software engineer (backend) skilled in typescript, PostgreSQL, docker, and TypeORM I'm also proficient in c++, OOPS, and machine learning. along with that, I have a special interest in physics teaching and I have been doing that for the last 5 years.</p>


  </div>

  <%- include("./partials/footer.ejs") %>
</body>
</html>